body {
  margin: 0;
  padding: 0;
  background-color: #555;
  text-shadow: 0px 0px 21px #999;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  height: 600px;
  width: 400px;
  margin: 10px;
  background-color: grey;
  border-radius: 25px;
  border: 2px solid white;
  overflow-y: scroll;
}

.display-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.display-me {
  width: 200px;
}

.members {
  height: 200px;
}
